<div style="background-color:#5AB3AD;height:500px;padding:30px">
  <div class="container" style="text-align:center">
    <%= image_tag('icons.png') %>
    <h1 class="head-font" style="font-size:60px">welcome to visa service platform</h1>
  </div>
</div>

<div class="row" style="height: 300px;padding:50px;">
  <div class="col-md-6" style="text-align:center;">
    <h3>for Travel Agency</h3>
    <%= link_to 'Travel Agency Login', new_session_path, class: "btn btn-primary" %>
  </div>
  
  <div class="col-md-6" style="text-align:center">
    <h3>for visa applicant</h3>
    <%= link_to 'Visa Status Query', visas_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="row" style="text-align:center;background-color:#5AB3AD;height:300px;padding:30px";">
  <p class="head-font" style="font-size:40px;margin-top:30px"> "Do not follow where the path may lead. Go instead where there is no path and leave a trail"</p>
  <p class="head-font" style="font-size:30px;">  ---- Ralph Waldo Emerson</p>
</div>

<div class="row" style="text-align:center;height:300px;padding:30px";">
  <p class="head-font" style="font-size:40px;margin-top:30px;color:black">We offer visa application management services for travel agencies, also free service for visa infomation query for visa applicants.</p><p> Join us to improve effiency for your clients.</p>
</div>
